@import "tailwindcss";


.react-tel-input .form-control {
    width: 100% !important;
    padding-block: 27px;
    padding-inline: 18px;
    padding-left: 48px;
    background-color: #eeeeee80 !important;
    border-radius: 14px !important;
    font-size: 16px !important;
    border: none !important;
    transition: all 0.5s ease !important;
}

.phone-input-button {
    border: none !important;
    background-color: transparent !important;
    transition: all 0.5s ease !important;
    padding: 0 !important;
    margin: 0 !important;
}
.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus, .react-tel-input .flag-dropdown.open .selected-flag {
    background-color: transparent;
}